@using HairSalon.Models
@{
  Layout = "_Layout";
}

<title>Deleted!</title>

<div class="jumbotron">
  <h1>Your stylist has been deleted!</h1>
</div>

<div class="text-center">
  <a href="/clients"><button class="btn btn-secondary">View clients!</button></a><a href='/stylists'><button class="btn btn-secondary">View stylists!</button></a><a href='/'><button class="btn btn-secondary">Return home!</button></a>
  <br>
  <img src="~/img/smallstooges.jpg" alt="The original founders">

</div>
