
@{
  Layout = "_Layout";
}
<title>Deleted!</title>

<div class="jumbotron">
  <h1>Your stylists have been deleted!</h1>
</div>

<div class="text-center">
  <a href='/stylists/new'><button class="btn btn-secondary">Add a new stylist!</button></a><a href='/clients'><button class="btn btn-secondary">View clients!</button></a><a href='/'><button class="btn btn-secondary">Return home!</button></a>
  <br>
  <img src="~/img/smallstooges.jpg" alt="The original founders">

</div>
