@using HairSalon.Models
@{
  Layout = "_Layout";
}

<title>Edit stylist</title>

<div class="jumbotron">
  <h1>Edit stylist: @Model.Name!</h1>
</div>

<form action="/stylists/@Model.Id/" method="post">
  <label for="newName">Name:</label>
  <input type="text" name="newName" value="@Model.Name">
  <button type="submit" class="btn btn-secondary">Edit</button>
</form>

<div class="text-center">
  <a href="/clients"><button class="btn btn-secondary">View clients!</button></a><a href='/stylists'><button class="btn btn-secondary">View stylists!</button></a><a href='/'><button class="btn btn-secondary">Return home!</button></a>
  <br>
  <img src="~/img/smallstooges.jpg" alt="The original founders">
</div>
