@{
  Layout = "_Layout";
}

<title>The Stooge Stylists</title>

<div class="container">

  <div class="jumbotron">
    <h1>The @Model.Count Stooge Stylists</h1>
    <h2>Click on a Stooge to see their clients:</h2>
  </div>
  <div class="row">

    <div class="col-md-4">
      @if (Model.Count == 0)
      {
        <p>There are no Stooges!</p>
      }

      @if(Model.Count != 0)
      {
        <ul>
          @foreach (var stylist in Model)
          {
            <li>
              <a href='/stylists/@stylist.Id'><button class="btn btn-info">@stylist.Name</button></a>
            </li>
          }
        </ul>
      }
    </div>

    <div class="col-md-8">
      <img class="stylists" src="~/img/heads.jpg" alt="Larry, Curly and Moe">
    </div>
  </div>

  <div class="text-center">
    <a href='/stylists/new'><button class="btn btn-secondary">Add a new stylist!</button></a><a href="/"><button class="btn btn-secondary">Return to the homepage</button></a>
    <br><br>
    <form action="/stylists/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete all stylists!</button>
    </form>
  </div>
</div>
