@{
  Layout = "_Layout";
}

<title>NEXT STOOGE!</title>

<div class="container">
  <div class="jumbotron">
    <h1>Add a new Stylist!</h1>
  </div>

  <form action="/stylists" method="post">
    <label for="name">Stylist's name:</label>
    <input id="name" name="name" type="text"><br>

    <button type="submit">Submit</button>
  </form>

  <br><br>
  <div class="text-center">
    <a href="/stylists"><button class="btn btn-secondary">Return to the stooge list</button></a><a href="/"><button class="btn btn-secondary">Return to the homepage</button></a>
  </div>
</div>
