.jumbotron {
  text-align: center;
}

li {
  margin-bottom: 5px;
}

button {
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
}

.text-center {
  margin-top: 100px;
  margin-bottom: 50px;
}

img.stylists {
  float: right;
}

div.sidebar {
  float: left;
}

ul {
  list-style-type: none;
}
