@{
  Layout = "_Layout";
}

<title>Clients!</title>
<div class="jumbotron">
  <h1>All Clients:</h1>
</div>

@if (Model.Count != 0)
{
  <ul>
    @foreach (var client in Model)
    {
      <li><a href='/stylists/@client.StylistId/clients/@client.Id'>@client.Name</a></li>
    }
  </ul>
}

<h4></h4>


<div class="text-center">
  <a href='/stylists'><button class="btn btn-secondary">View stylists!</button></a> <a href="/"><button class="btn btn-secondary">Return homeAdd a new stylist!</button></a>
  <br>

</div>
