@{
  Layout = "_Layout";
}

<title>Clients!</title>
<div class="jumbotron">
  <h1>All Clients:</h1>
</div>

@if (Model.Count != 0)
{
  <ul>
    @foreach (var client in Model)
    {
      <li><a href='/stylists/@client.StylistId/clients/@client.Id'><button class="btn btn-info">@client.Name</button></a></li>
    }
  </ul>
}

<hr>


<div class="text-center">
  <a href='/stylists'><button class="btn btn-secondary">View stylists!</button></a> <a href="/"><button class="btn btn-secondary">Return home!</button></a>
  <br><br>
  <form action="/clients/delete" method="post">
    <button type="submit" class="btn btn-danger">Delete all clients!</button>
  </form>

</div>
