@{
  Layout = "_Layout";
}

<title>Add a new Client!</title>

<div class="container">
  <div class="jumbotron">
    <h1>Add a new Client for @Model.Name!</h1>
  </div>

  <form action="/stylists/@Model.Id/clients" method="post">
    <input id='stylistId' name='stylistId' type='hidden' value='@Model.Id'>

    <label for="clientName">Name of client:</label>
    <input id="clientName" name="clientName" type="text"><br>

    <button type="submit">Submit</button>
  </form>

  <div class="text-center">
    <a href="/stylists"><button class="btn btn-secondary">Return to the stylists list</button></a> <a href="/"><button class="btn btn-secondary">Return to the homepage</button></a>
  </div>
</div>
